/** @format */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-logo-box {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo-icon {
  width: 25px;
}

.logo-text {
  font-size: 4rem;
  color: #012970;
}

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.nav-list {
  text-decoration: none;
  font-size: 2rem;
  color: #012970;
  transition: all 0.4s;
}

.nav-btn-box {
  display: flex;
  gap: 5px;
}

.nav-list:hover {
  color: #5b6cf3;
}

.nav-btn {
  padding: 10px 20px;
  background-color: #5b6cf3;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  transition: 0.4s;
}

.nav-btn:hover {
  background-color: #012970;
}

.sticky .nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 0px 32px 12px rgb(0, 0, 0, 0.1);
  transition: all 0.5s;
  background-color: #37517ec3;
  z-index: 999;
}

.sticky .nav-list{
  font-size: 2rem;
  color: white;
}
.sticky .nav-list:hover{
  color: #012970;
}

/* hero  */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  background: url(img/hero-bg.png);
  background-size: cover;
}

.hero-title {
  font-size: 5rem;
  color: #012970;
  margin-bottom: 5px;
}

.hero-text {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.hero-play-box {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.hero-play {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.4s;
}

.hero-play:hover {
  color: #5b6cf3;
}

.hero-icon {
  font-size: 4rem;
  color: #5b6cf3;
}

.hero-watch {
  font-size: 2rem;
}

.hero-image {
  width: 50%;
}

/* wwa  */

.wwa {
  display: flex;
  align-items: center;
}

.wwa-text-box {
  padding: 5rem;
  background-color: #f5f6fe;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.wwa-titles {
  font-size: 2rem;
  color: #5b6cf3;
  margin-bottom: 1rem;
}

.wwa-title {
  font-size: 2.5rem;
  color: #012970;
  margin-bottom: 2rem;
}

.wwa-text {
  font-size: 18px;
  margin-bottom: 2rem;
}

.wwa-image {
  width: 50%;
}

/* value  */

.value-grid {
  margin-bottom: 10rem;
}

.values {
  padding: 3rem;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.4s;
}

.values:hover {
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.1);
}

.values .value-image:hover {
  transform: scale(1.1);
}

.value-image {
  width: 80%;
  margin-bottom: 2rem;
  transition: 0.4s;
}

.value-title {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #012970;
}

.value-article {
  font-size: 18px;
}

.value-grid-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
}

.value-counter {
  display: flex;
  align-items: center;
  gap: 1rem;
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.1);
  padding: 4rem;
}

.value-icon {
  font-size: 5rem;
  color: #5b6cf3;
}

.value-no {
  font-size: 4rem;
  color: #012970;
  font-weight: 800;
  margin-bottom: 5px;
}

.value-no-text {
  font-size: 18px;
}

.colored-1 {
  color: brown;
}

.colored-2 {
  color: green;
}

.colored-3 {
  color: orange;
}

/* features  */

.features-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.feature-image {
  width: 50%;
}

.features-grid-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.feature-grid {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.1);
}

.feature-grid .feature-icon:hover {
  background-color: #0b5ae3;
  color: white;
  transition: all 0.4s;
}

.feature-icon {
  font-size: 2rem;
  background-color: #bfc5fb;
  color: #5b6cf3;
  padding: 5px;
}

.feature-text {
  font-size: 2rem;
  font-weight: bold;
}

.feature-box-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  padding: 1rem;
}

.feature-count {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.feature-icon-2 {
  font-size: 5rem;
  color: #0b5ae3;
}

.feature-title {
  font-size: 2rem;
  font-weight: bold;
  color: #012970;
  margin-bottom: 5px;
}

.feature-no-text {
  font-size: 18px;
  padding-left: 6rem;
}

.feature-image-2 {
  width: 40%;
}

/* service  */
.services {
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 5rem 2rem;
  border-radius: 5px;
  border-bottom: 3px solid #0dcaf0;
  transition: 0.5s;
}

.services:hover {
  background-color: #0dcaf0;
}

.services:hover .service-icon {
  background-color: white;
}

.services:hover .service-title {
  color: white;
}

.services:hover .service-text {
  color: white;
}

.services:hover .service-linked {
  color: white;
}

.service-links {
  text-decoration: none;
}

.service-icon {
  font-size: 5rem;
  background-color: #beeff8;
  color: #0dcaf0;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.service-title {
  font-size: 3rem;
  color: #012970;
  margin-bottom: 1rem;
}

.service-text {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: black;
}

.service-linked {
  font-size: 1.5rem;
  text-decoration: none;
  color: #0dcaf0;
}

.service-orange:hover {
  background-color: orange;
}

.service-green:hover {
  background-color: green;
}

.service-brown:hover {
  background-color: brown;
}

.service-purple:hover {
  background-color: purple;
}

.service-orange {
  border-bottom: 3px solid orange;
}

.orange {
  color: orange;
  background-color: rgb(242, 201, 126);
}

.oranges {
  color: orange;
}

.service-orange:hover {
  background-color: orange;
}

.service-pink {
  border-bottom: 3px solid pink;
}

.service-purle:hover {
  background-color: purple;
}

.service-purple {
  border-bottom: 3px solid purple;
}

.service-green {
  border-bottom: 3px solid green;
}

.green {
  color: green;
  background-color: lightgreen;
}

.greens {
  color: green;
}

.service-green:hover {
  background-color: green;
}

.service-brown {
  border-bottom: 3px solid brown;
}

.brown {
  color: brown;
  background-color: rgb(226, 117, 117);
}

.browns {
  color: brown;
}

.service-brown:hover {
  background-color: brown;
}

.purple {
  color: purple;
  background-color: rgb(207, 132, 207);
}

.purples {
  color: purple;
}

.service-purple:hover {
  background-color: purple;
}

.service-pink {
  border-bottom: 3px solid pink;
}

.pink {
  color: pink;
  background-color: rgb(247, 232, 234);
}

.pinks {
  color: pink;
}

.service-pink:hover {
  background-color: pink;
}

/* pricing  */

.pricing-list-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3rem;
  margin-top: 3rem;
}

.pricing-list {
  box-shadow: 2px 2px 10px 2px #f4f4f4;
  padding: 4rem;
  text-align: center;
  transition: 0.5s;
  position: relative;
}

.pricing-list:hover {
  transform: scale(1.1);
}

.pricing-title {
  font-size: 2rem;
  color: green;
  margin-bottom: 1rem;
}

.pricing-price span {
  font-size: 4rem;
  color: #012970;
  font-weight: bold;
}

.pricing-price {
  font-size: 1.3rem;
  color: gray;
  margin-bottom: 1rem;
  font-weight: bold;
}

.pricing-icon {
  font-size: 5rem;
  color: green;
  margin-bottom: 1rem;
}

.pricing-offer-box {
  list-style: none;
  margin-bottom: 5rem;
}

.pricing-offers {
  font-size: 18px;
  margin-bottom: 1rem;
}

.pricing-link {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 2rem;
  color: #0b5ae3;
  background-color: white;
  border: 1px solid #0b5ae3;
  border-radius: 2rem;
  transition: 0.5s;
}

.pricing-link:hover {
  background-color: #0b5ae3;
  color: white;
}

.pricing-blue {
  color: #4154f1;
}

.pricing-orange {
  color: orange;
}

.pricing-deep {
  color: #0dcaf0;
}

.pricing-featured {
  overflow: hidden;
}

.pricing-featured::after {
  content: "Featured";
  position: absolute;
  top: 2rem;
  right: -3rem;
  background-color: #0b5ae3;
  color: white;
  padding: 5px 4rem;
  transform: rotate(42deg);
  font-size: 1.5rem;
}

/* faq  */

.faq-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.faq-accordion {
  padding-bottom: 1rem;
  border-bottom: 1px solid gray;
}

.faq-title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

.faq-title-box:hover .faq-title {
  color: #0dcaf0;
}
.faq-title-box:hover .faq-icon {
  color: #0dcaf0;
}

.faq-title {
  font-size: 2rem;
  color: #012970;
  transition: 0.5s;
}

.faq-icon {
  font-size: 3rem;
  transition: 0.5s;
  color: #012970;
}

.faq-article{
  font-size: 18px;
  color: gray;
}

/* portfolio  */
.portfolio-img-box {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.portfolio-img {
  width: 100%;
  transition: all 0.4s;
}

.portfolio-img:hover {
  filter: brightness(0.5);
  transform: scale(1.1);
}

.portfolio-icon-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: none;
}

.portfolio-icon {
  font-size: 3rem;
  color: white;
}

.portfolio-img-box:hover .portfolio-icon-box {
  display: block;
}

.portfolio-icon:hover {
  filter: brightness(0.5);
  transform: scale(1.1);
  color: #0b5ae3;
}

.portfolio-content {
  display: none;
}

.portfolio-content-active {
  display: grid;
}

/* team  */

.team-profile-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.team-profile {
  width: 100%;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.4s;
  border-radius: 5px;
}

.team-profile:hover {
  transform: scale(1.1);
}

.team-image {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.4s;
}

.taem-text-box {
  padding: 2rem;
}

.team-name {
  color: #012970;
  font-size: 2rem;
  margin-bottom: 5px;
}

.team-post {
  font-size: 18px;
  color: #a1a1a1;
  margin-bottom: 15px;
}

.team-text {
  font-size: 15px;
  color: lightslategray;
  margin-bottom: 5px;
}

.profile-icon-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  top: 5rem;
  right: 5px;
  background-color: #eff1f0;
  border-radius: 5px;
  padding: 10px 5px;
  z-index: 999;
  display: none;
  transition: all 0.4s;
}

.team-image-box:hover .profile-icon-box {
  display: flex;
}

.profile-icon {
  font-size: 2rem;
  color: lightslategray;
  transition: ease-in 0.5s;
}

/* recent  */
.blog-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
}

.blog {
  box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.1);
}

.blog-image {
  width: 100%;
}

.blog-text-box {
  padding: 3rem;
}

.blog-title {
  font-size: 2rem;
  color: #012970;
  margin-bottom: 2rem;
}

.blog-icons-box {
  display: flex;
  gap: 2rem;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.222);
}

.blog-icon-box {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.blog-icon {
  font-size: 2rem;
  color: #4154f1;
}

.blog-icon-text {
  font-size: 15px;
  color: gray;
}

.blog-span {
  font-size: 2rem;
  color: gray;
}

.blog-link {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
  color: gray;
  transition: all 0.4s;
}

.blog-link:hover {
  color: #5b6cf3;
}

/* footer */
.footer {
  border-top: 1px solid rgba(128, 128, 128, 0.334);
  margin: 2rem 0 0 0;
  background-color: whitesmoke;
}

.foot-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  gap: 2rem;
  align-items: center;
}

.foot-title {
  font-size: 2rem;
  color: #012970;
}

.foot-list-box {
  list-style: none;
}

.foot-list {
  margin-top: 1rem;
  font-size: 18px;
}

.foot-list span {
  font-weight: bold;
}

.foot-icon-box {
  display: flex;
  gap: 10px;
}

.foot-icon {
  border: 1px solid #0b5ae372;
  color: #0b5ae3;
  padding: 1rem;
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.385);
  border-radius: 8px;
}

.foot-icon:hover {
  background-color: #0b5ae3;
  color: white;
  transition: all 0.4s;
}

/* MODAL  */

.login-modal{
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.modal-content{
    background-color: whitesmoke;
    margin: 10% auto;
    padding: 2rem;
    width: 80%;
    border-radius: 5px;
    animation-name: modalopen;
    animation-duration: 2s;
}

.close-btn{
    color: lightslategrey;
    float: right;
    font-size: 3rem;
    transition: 0.3s;
}

.close-btn:hover{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.mod-header{
    text-align: center;
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
}

.email{
    width: 100%;
    padding: 1rem;
    margin: 2rem auto;
    outline: none;
    border-radius: 5px;
    border: 1px solid #44A3D5;
}
.password{
    width: 100%;
    padding: 1rem;
    margin: 2rem auto;
    outline: none;
    border-radius: 5px;
    border: 1px solid #44A3D5;
}
.password-two{
    width: 100%;
    padding: 1rem;
    margin: 2rem auto;
    outline: none;
    border-radius: 5px;
    border: 1px solid #44A3D5;
}

.signup{
    display: flex;
    justify-content: center;
    width: 50%;
    background-color: #37517E;
    color: white;
    font-size: 18px;
    margin: auto;
    border: none;
    padding: 1rem;
    border-radius: 5px;
}

.modal-text{
    text-align: center;
    font-size: 15px;
    margin-top: 2rem;
}

.modal-text span{
    color: #44A3D5;
}

@keyframes modalopen{
    from{opacity: 0;}
    to{opacity: 1;}
}